
.container 
    min-height: calc(100vh - 5em)
    display: flex
    flex-direction: column
    justify-content: space-around
    position: relative
    z-index: 5



.designerTitle
    font-size: 8vw
    position: relative
    &:hover 
       z-index: 5 !important
       color: var(--accent)
       font-style: italic
      

.hoverState 
    position: fixed
    top: 50%
    left: 50%
    width: clamp(200px, 50%, 500px)
    transform: translate(-50%, -50%)
    pointer-events: none
    display: flex
    justify-content: center
    align-items: center
    z-index: 3

    