.otherDesignerContainer 

.listDesigners
    margin-top: 2em

.otherDesigner
    margin-top: 2em
    display: flex 
    align-items: center 
    @media(min-width: 600px)
    .otherDesignerImage
        width: 150px
        height: 150px
        border-radius: 50%
        background: var(--textColor)
        margin-right: 1em
        overflow: hidden
        .image 
            object-fit: contain
            object-position: center


    .otherDesignerText 
        flex: 2