
:root 
  --background: #3c4552
  --textColor: whitesmoke
  --accent: #FFD300

* 
    box-sizing: border-box
    padding: 0
    margin: 0

body 
    background: var(--background)
    color: whitesmoke
    font-family: 'Montserrat', sans-serif


h1, h2, h3, h3, h4, h5, h6
    font-family: 'Jost', sans-serif
    

a 
    text-decoration: none
    color: inherit
    &:hover 
        color: inherit