
:root 
  --background: whitesmoke
  --textColor: black
  --accent: #FFD300

* 
    box-sizing: border-box
    padding: 0
    margin: 0

body 
    background: var(--background)
    color: var(--textColor)
    font-family: 'Montserrat', sans-serif

.social-svg 
    fill: red

h1 
    font-size: 8vw
    
h1, h2, h3, h3, h4, h5, h6
    font-family: 'Jost', sans-serif
    line-height: auto
    margin: 0
    text-transform: capitalize

p
    margin: 0
    
a 
    text-decoration: none
    color: inherit
    &:hover 
        color: inherit

img 
    border-radius: 1em
.embedVideo-container
    iframe 
        width: 100%
        min-height: 400px

